##                                             Assignment-2

In [1]:
# 1) Store and display student information (name, age, grade).
student = ("Alice", 20, "A")
print(f"Name: {student[0]}, Age: {student[1]}, Grade: {student[2]}")

Name: Alice, Age: 20, Grade: A

In [1]:
# 2) List prices of grocery items and total them.
prices = (10.5, 20.0, 5.75, 3.40)
print("Prices:", prices)
print("Total:", sum(prices))

Prices: (10.5, 20.0, 5.75, 3.4)
Total: 39.65

In [2]:
# 3) Pair items with prices using tuples.
items_with_prices = (("Milk", 25), ("Eggs", 50), ("Bread", 20))
for item, price in items_with_prices:
    print(f"{item}: ₹{price}")

Milk: ₹25
Eggs: ₹50
Bread: ₹20

In [ ]:
# 4) Store and display train schedule as tuples.
schedule = (("Rajdhani", "10:00"), ("Shatabdi", "12:30"), ("Duronto", "17:00"))
for train, time in schedule:
    print(f"{train} departs at {time}")

Rajdhani departs at 10:00
Shatabdi departs at 12:30
Duronto departs at 17:00

In [5]:
# 5) Sort employee records by salary.
employees = (("John", 40000), ("Alice", 55000), ("Raj", 30000))
# sorted returns a list; convert back to tuple if you want
sorted_by_salary = tuple(sorted(employees, key=lambda rec: rec[1]))
print("Sorted by salary:")
for name, salary in sorted_by_salary:
    print(f"{name}: ₹{salary}")

Sorted by salary:
Raj: ₹30000
John: ₹40000
Alice: ₹55000

In [6]:
# 6) Count how many students scored above 75 marks.
marks = (67, 88, 92, 74, 76, 55)
count_above_75 = sum(1 for m in marks if m > 75)
print(f"Number of students scoring above 75: {count_above_75}")

Number of students scoring above 75: 3

In [7]:
# 7) Create a tuple of stock prices and find the max.
stock_prices = (154.5, 160.2, 149.8, 170.1)
print("Highest stock price:", max(stock_prices))

Highest stock price: 170.1

In [8]:
# 8) Log temperature readings during the day. Find the average temperature.
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
avg_temp = sum(temperatures) / len(temperatures)
print(f"Average temperature: {avg_temp:.2f}°C")

Average temperature: 30.42°C

In [9]:
# 9) Schedule appointments (name, time).
appointments = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))
for desc, t in appointments:
    print(f"{desc} at {t}")

Doctor at 10:00 AM
Meeting at 2:00 PM

In [10]:
# 10) Store contact info (name, phone number).
contacts = (("Anil", "9876543210"), ("Priya", "9123456780"))
for name, phone in contacts:
    print(f"{name}: {phone}")

Anil: 9876543210
Priya: 9123456780

In [11]:
# 11) Display exam schedule with subject and time.
exams = (("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM"))
for subject, time in exams:
    print(f"{subject} exam at {time}")

Math exam at 9:00 AM
Science exam at 11:30 AM
English exam at 2:00 PM