In [1]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Displaying the elements of the set
print("Elements of the set are:")
for element in my_set:
    print(element)

Elements of the set are:
1
2
3
4
5

In [2]:
# Creating a set
my_set = {1, 2, 3}

# Adding an element
my_set.add(4)

# Displaying the updated set
print("Updated set:", my_set)

Updated set: {1, 2, 3, 4}

In [3]:
myset={1,2,3,4}
myset.remove(3)
print("updated set:",myset)

updated set: {1, 2, 4}

In [4]:
myset={1,2,3,4,5}
myset.clear()
print("updated set:",myset)

updated set: set()

In [7]:
myset={1,2,3,4}
abzaa={4,6,7,8}
myset.update(abzaa)
print("updated set:",myset)
## Note that when you add a set in another set using update function,the duplicate value will become a single unit

updated set: {1, 2, 3, 4, 6, 7, 8}

In [19]:
myset={"Apple",2,3,"banana"}
if "Apple" in myset:
 print("Apple is in myset")
else:
 print("Apple isn't in myset")

Apple is in myset

In [23]:
myset={1,2,3,4,5}
lenght=len(myset)
print("lenght of myset is:",lenght)

lenght of myset is: 5

In [31]:
my_set = {"apple", "banana", "cherry",}

for x in my_set:
    print(x)

apple
cherry
banana

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | (set2)

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5}

In [38]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1 & (set2)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3, 4}

In [46]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
differenceset = set1 - set2

print("difference of set1 and set2:",differenceset)

difference of set1 and set2: {1, 2}

In [50]:
set1 = {1, 2, 3, 4,7,5}
set2 = {9,7,3, 4, 5, 6}

sym_diff = set1 ^ (set2)

print("Symmetric difference:", sym_diff)

Symmetric difference: {1, 2, 6, 9}

In [58]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

result = set1<=(set2)
print("\nIs set1 a subset of set2?\n", result)

Is set1 a subset of set2?
 True

In [62]:
set1 = {1, 2, 3, 4}
set2 = {2, 3,}

result = set1>=(set2)
print("Is set1 a superset of set2?", result)

Is set1 a superset of set2? True

In [63]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

result = set1.isdisjoint(set2)
print("Are set1 and set2 disjoint?", result)

Are set1 and set2 disjoint? True

In [67]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting to a set
my_set = set(my_list)



print("List after removing duplicates:", my_set)

List after removing duplicates: {1, 2, 3, 4, 5}

In [68]:
# Original list
my_list = [1, 2, 2, 3, 4, 4, 5]

# Convert list to set (removes duplicates)
my_set = set(my_list)

# Convert set back to list
new_list = list(my_set)

print("Original list:", my_list)
print("After converting to set and back to list:", new_list)

Original list: [1, 2, 2, 3, 4, 4, 5]
After converting to set and back to list: [1, 2, 3, 4, 5]

In [69]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Find intersection (common elements)
common_elements = set1.intersection(set2)

# If you want the result as a list
common_list = list(common_elements)

print("Common elements:", common_list)

Common elements: [3, 4]

In [70]:
## for squares
squares = {x**2 for x in range(1, 11)}
print("Squares:", squares)
## for prime
primes = {x for x in range(2, 21) if all(x % i != 0 for i in range(2, x))}
print("Primes:", primes)

Squares: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
Primes: {2, 3, 5, 7, 11, 13, 17, 19}

In [71]:
# Create a frozenset
my_frozenset = frozenset([1, 2, 3, 4, 5])

# Print the frozenset
print("Frozenset:", my_frozenset)

Frozenset: frozenset({1, 2, 3, 4, 5})